<html>
<head>
<title>Countdowns & Ages</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<h1>Ages of Our Kids</h1>
	<p><strong>Esther:</strong> {{ EstherAge }}.</p>
	<p><strong>Katya:</strong> {{ KatyaAge }}.</p>
	<p><strong>Bethany:</strong> {{ BethAge }}.</p>
	<p><strong>Amy:</strong> {{ AmyAge }}.</p>
</body>
</html>

