<html>
<head>
<title>Customer Tenure</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<h1>Customer Tenures</h1>

	<h2>Tenure with Active Customers</h2>
	<table>
	<thead><tr><th>Customer</th><th>Tenure</th></tr></thead>
	<tr><td><strong>Kelsey-Seybold Clinics</strong></td><td>{{ kscTenure }}</td></tr>
	<tr><td><strong>Talbert Medical Group</strong></td><td>{{ tmgTenure }}</td></tr>
	<tr><td><strong>Children's Hospital of Philadelphia</strong></td><td>{{ chopTenure }}</td></tr>
	<tr><td><strong>Group Health Cooperative (Madison)</strong></td><td>{{ ghcTenure }}</td></tr>
	<tr><td><strong>CaroMont</strong></td><td>{{ caromontTenure }}</td></tr>
	</table>


	<h2>Tenure with Old Customers</h2>
	<table>
	<thead><tr><th>Customer</th><th>Tenure</th></tr></thead>
	<tr><td><strong>Kaiser Ohio</strong></td><td>{{ kpohTenure }}</td></tr>
	</table>

</body>
</html>

