<html>
<head>
<title>Diceware Passphrase Generator</title>
<meta name="viewport" content="width=device-width" />
</head>

<body>
<h1>Diceware Passphrase Generator</h1>
<p>
{{ phrase }}
</p>

<form action="/diceware" method="post">
<p>Number: <input type="number" name="count" value="{{ count }}" /></p>
<p><input type="submit" value="Generate" /></p>
</form>
</body>
</html>
