<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Google Cover Finder</title>
	<style>
		img { width: 500px; }
	</style>
</head>

<body>

	<article>
	    <header><h3>Google Artwork Finder for {{title}}</h3></header>
	    <div id="results">
	    {% for cover in covers %}
	    	{% if cover.medium %}
	    		<p><a href="{{cover.medium}}"><img src="{{cover.medium}}" /></a>
	    	{% endif %}
	    	{% if cover.large %}
	    		<p><a href="{{cover.large}}"><img src="{{cover.large}}" /></a>
	    	{% endif %}
	    	{% if cover.extraLarge %}
	    		<p><a href="{{cover.extraLarge}}"><img src="{{cover.extraLarge}}" /></a>
	    	{% endif %}
	    {% endfor %}
	    </div>
	</article>

	<footer>
		<p><a href="http://www.bing.com/images/search?q={{encodedTitle}}&qft=+filterui%3aimagesize-large">Check Bing</a></p>
	</footer>

</body>

</html>