<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>iTunes Cover Finder</title>
</head>

<body>

	<article>
	    <header><h3>iTunes Artwork Finder for {{title}}</h3></header>
	    <div id="results">
	    {% for cover in covers %}
	    	<p><a href="{{cover.regular}}"><img src="{{cover.regular}}" /></a>
	    	<br />
	    	<a href="{{ cover.hires }}">Hi Res version</a></p>
	    {% endfor %}
	    </div>
	</article>

	<footer>
		<p><a href="{{googleLink}}">Check Google</a></p>
	</footer>

</body>

</html>